---
layout: category
category: programme
title: Programme
---

<div class="show-sm">
  

  <a href="{{ site.baseurl }}/programme/index.html#day1">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 1</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day2">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 2</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day3">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 3</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day4">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 4</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day5">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 5</h5>
    </div>
  </div>
  </a>


</div>


<div>
  <!-- DAY 1-->
  <h4 id="day1">Day 1 - Monday, 11 July</h4>
  <h5>Topic: <em>Summer School Welcome</em></h5>
  <p class="text-secondary color" style="text-align: justify;">16:30 - 18:30, Aula B, Ca’ Bernardo</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>16:30 - 17:00 - Cultural Heritage in a Digital Society: Sharing, Experiencing, Creating </strong> 
  <br>
  Opening Keynote Chiara Zuanni (University of Graz)</p>
  
  <p class="text-secondary color" style="text-align: justify;"><strong>18:30</strong> - <strong>Aperitivo</strong></p>

  <!-- DAY 2-->
  
  <h4 id="day2">Day 2 - Tuesday, 12 July</h4>
  <h5>A Global Approach to Digital Textual Scholarship</h5>

  <p class="text-secondary color" style="text-align: justify;">9:00 - 18:00, Aula B, Ca’ Bernardo</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>9:00 - 9:30 - Preludium </strong> 
  <br>
  Introduction to Textual Heritage by Franz Fischer (Ca’ Foscari)</p>


  <p class="text-secondary color" style="text-align: justify;"><strong>9:30-11:15 - The Sky is the Limit - A global approach to digital textual scholarship: The Coronelli’s Celestial Globe</strong>
  <br>  
  Session led by Benedetta Bessi (Ca’ Foscari), Daniele Fusi (University of Bamberg; Ca’ Foscari) and Alberto Campagnolo (Université Catholique de Louvain, Louvain-la-Neuve)
  <br>
  [<a href="{{site.baseurl}}/keynote#bessi_fusi_campagnolo">abstract</a>; <a href="{{site.baseurl}}/materials/bessi_fusi_campagnolo/index.html">materials</a>]</p>
  
  
  <p class="text-secondary color" style="text-align: justify;"><strong>11:30 - 12:45 - Leaving Venice - Editing a manuscript of Marco Polo’s travels</strong>
  <br>
  Session led by Franz Fischer (Ca’ Foscari), Paolo Monella (Sapienza University of Rome), Holger Hessler (Ca’ Foscari), Tiziana Mancinelli (Ca’ Foscari; ICDP Digital Library), Miriam Vita Errico (Ca’ Foscari) and Silvia Marsili (Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#fisher_monella_hessler_mancinelli_errico_marsili">abstract</a>; <a href="{{site.baseurl}}/materials/fisher_monella_hessler_mancinelli_errico_marsili/index.html">materials</a>]</p>


  <p class="text-secondary color" style="text-align: justify;">13:00 - 14:30 Lunch break</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>14:30 - 16:00 - High Noon at the Library (tbc) </strong>
  <br>
  Visit of the Marciana Library</p>


  <p class="text-secondary color" style="text-align: justify;"><strong>16:00 - 18:00 - The Remains of the Text - Natural Language Processing</strong>
  <br>
  Session led by Federico Boschetti (ILC-CNR; Ca’ Foscari), Angelo Mario Del Grosso (ILC-CNR; Ca’ Foscari), Agnese Macchiarelli (Ca’ Foscari), Federico Tanozzi (Ca’ Foscari) and Jessica Puliero (Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#boschetti_delgrosso_macchiarelli_tanozzi_puliero">abstract</a>; <a href="{{site.baseurl}}/materials/boschetti_delgrosso_macchiarelli_tanozzi_puliero/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>18:30 - 19:30 - Aula B, Ca’ Bernardo 🌍 - The Godfather </strong>
  <br>
  Carte blanche for Peter Robinson (University of Saskatchewan)</p>

  <!-- DAY 3-->
  <h4 id="day3">Day 3 - Wednesday, 13 July</h4>
  <h5>Endangered Cultural Heritage in Venice</h5>

  <p class="text-secondary color" style="text-align: justify;">9:30 - 12:30 - Tour of St Mark's Square and Arsenale -  meeting point at St Mark’s Square 🌍 </p>

  <p class="text-secondary color" style="text-align: justify;"><strong>Public spolia and power - Structure-from-Motion photogrammetry (SfM) of Tetrarchi and four Lions at Arsenale </strong>
  <br>
  Guided tour and activity led by Federico Bernardini (Ca’ Foscari), Elisa Corrò (Ca’ Foscari), Nevio Danelon (Ca’ Foscari), Eleonora Delpozzo (Ca’ Foscari) and Francesca Dolcetti (Ca’ Foscari)

  <p class="text-secondary color" style="text-align: justify;"><strong>9.45 - 10.30 - St Mark’s square</strong>
  <br>
  [<a href="{{site.baseurl}}/keynote#bernardini_corro_danelon_delpozzo_dolcetti">abstract</a>; <a href="{{site.baseurl}}/materials/bernardini_corro_danelon_delpozzo_dolcetti/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>10:30 - 12:30 - Arsenale</strong> 
  <br>
  [<a href="{{site.baseurl}}/keynote#bernardini_corro_danelon_delpozzo_dolcetti_2">abstract</a>; <a href="{{site.baseurl}}/materials/bernardini_corro_danelon_delpozzo_dolcetti/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;">12:30 - Vaporetto to Zattere</p>

  <p class="text-secondary color" style="text-align: justify;">13:00 - 14:00 - lunch at ‘Ae Oche’- Zattere </p>

  <p class="text-secondary color" style="text-align: justify;"><strong>14:00-15:30 - Aula 16 - San Sebastiano 🌍 - Digital Technologies - From image acquisition to point cloud and 3D models </strong>
  <br>  
  Workshop led by Federico Bernardini (Ca’ Foscari), Nevio Danelon (Ca’ Foscari), and Eleonora Delpozzo (Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#bernardini_danelon_delpozzo">abstract</a>; <a href="{{site.baseurl}}/materials/bernardini_danelon_delpozzo/index.html">materials</a>] </p>

  <p class="text-secondary color" style="text-align: justify;"><strong>15:45 - 18:00, Aula 19 - San Sebastiano (tbc)🌍 - Public engagement and cooperative learning </strong>
  <br>
  Workshop led by Elisa Corrò (Ca’ Foscari) and Francesca Dolcetti (Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#corro_dolcetti">abstract</a>; <a href="{{site.baseurl}}/materials/corro_dolcetti/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>18:30 - 20:30 - Deprogramming Today’s Sociality </strong>
  <br>
  Workshop conducted by the artist and activist Paolo Cirio</p>

  <p class="text-secondary color" style="text-align: justify;">20:30 - Aperitivo</p>


  <!-- DAY 4-->
  <h4 id="day4">Day 4 - Thursday, 14 July</h4>
  <h5>History on display and in the streets. Discovering the past through public and digital technologies</h5>

  <p class="text-secondary color" style="text-align: justify;"><strong>9:30 - 13:00 - Aula 2, Ca’ Dolfin 🌍 - Making the Renaissance Public: the example of Hidden Cities apps</strong>
  <br>
  Workshop led by Fabrizio Nevola (University of Exeter; Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#nevola">abstract</a>; <a href="{{site.baseurl}}/materials/nevola/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;">13:30 - 14:30 - Lunch in Mestre</p>

  <p class="text-secondary color" style="text-align: justify;">14:30 - 18:00 - M9 Museum, Mestre</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>14:30 - 16:00 - Museums and Public History. From collections to users-oriented Museums</strong>
  <br>
  Lecture by Francesco Frizzera (Museo Storico della Guerra, Rovereto)
  <br>
  [<a href="{{site.baseurl}}/keynote#frizzera">abstract</a>; <a href="{{site.baseurl}}/materials/frizzera/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>16:00 - 16:20 - Displaying historical violence. The case of Inquisition and torture museums</strong>
  <br>
  Presentation by Anna Clara Basilicò (VeDPH/Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#basilico">abstract</a>; <a href="{{site.baseurl}}/materials/basilico/index.html">materials</a>]</p>


  <p class="text-secondary color" style="text-align: justify;"><strong>16:30 - 18:00 - Visit to M9 Museum </strong>
  <br>
  Guided tour led by Stefano Dall’Aglio (VeDPH/Ca’ Foscari) and Livio Karrer (M9) 
  <br>
  [<a href="{{site.baseurl}}/keynote#dallaglio_karrer">abstract</a>; <a href="{{site.baseurl}}/materials/dallaglio_karrer/index.html">materials</a>]</p>

  <!-- DAY 5-->
  <h4 id="day5">Day 5 - Friday, 15 July</h4>
  <h5>From Digital Museography to Contemporary Artistic Practice: Venice, the Biennale and Beyond</h5>

  <p class="text-secondary color" style="text-align: justify;">09:00 - Querini Stampalia (tbc)</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>9:00 - 9:45 - A new wave of museology</strong>
  <br>
  [<a href="{{site.baseurl}}/keynote#newwave">abstract</a>; <a href="{{site.baseurl}}/materials/tbd/tbd">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;">9:00 - 9:15 - Introduction: The museum as phygital environment
  <br>
  Stefania De Vincentis (Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#devincentis">abstract</a>; <a href="{{site.baseurl}}/materials/devincentis/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;">9:15 - 9:30 - Identifying ourselves: the social media activities of Palazzo Grimani Museum
  <br>
  Marco Mazzocco (Museum of Palazzo Grimani)
  <br>

  <p class="text-secondary color" style="text-align: justify;">9:30 - 9:45 - Tribuna VR360 at Palazzo Grimani VR360 at  Palazzo Grimani
  <br>
  Luca Vascon and Chiara Masiero Sgrinzatto (Photographers)
  <br>
  [<a href="{{site.baseurl}}/keynote#vascon_sgrinzatto">abstract</a>; <a href="{{site.baseurl}}/materials/vascon_sgrinzatto/index.html">materials</a>]</p>
  
  <p class="text-secondary color" style="text-align: justify;"><strong>9:45 - 11:00 - Dive into Digital Art collection </strong>
  <br>
  [<a href="{{site.baseurl}}/keynote#art_collection">abstract</a>; <a href="{{site.baseurl}}/materials/tbd">materials</a>]</p>
  </p>

  <p class="text-secondary color" style="text-align: justify;"><strong>9:45 - 10:00 Lyon16ci and 1516 projects</strong>
  <br>
  Barbara Tramelli (Ca’ Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#tramelli">abstract</a>; <a href="{{site.baseurl}}/materials/tramelli/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>10:00 - 11:00 - Prometheus art database</strong>
  <br>
  Lisa Dieckmann (University of Cologne; Ca’Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#dieckmann">abstract</a>; <a href="{{site.baseurl}}/materials/dieckmann/index.html">materials</a>]</p>
  
  <p class="text-secondary color" style="text-align: justify;">11:00 - Coffee break </p>

  <p class="text-secondary color" style="text-align: justify;"><strong>11:15 - 13:00 - Visit to Museum of Palazzo Grimani</strong></p>

  <p class="text-secondary color" style="text-align: justify;">14:00-16:00 - Lunch at Bar Arsenale</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>14:00 - 16:00 - Tese of Arsenale 🌍 - Media Artivisim and Public Engagement</strong>
  <br>
  [<a href="{{site.baseurl}}/keynote#public_engagement">abstract</a>; <a href="{{site.baseurl}}/materials/tbd.html">materials (TBD)</a>] </p>

  <p class="text-secondary color" style="text-align: justify;">14:00 - 14:15 - Media Artivism & Expanded Information
  <br>
  Carolina Fernández-Castrillo (Universidad Carlos III de Madrid; Ca’Foscari)
  <br>
  [<a href="{{site.baseurl}}/keynote#castrillo">abstract</a>; <a href="{{site.baseurl}}/materials/castrillo/index.html">materials</a>] </p>

  <p class="text-secondary color" style="text-align: justify;">14:15 - 14:30 - Control+Space
  <br>
  Paolo Berti (Ca’ Foscari) 
  <br>
  [<a href="{{site.baseurl}}/keynote#berti">abstract</a>; <a href="{{site.baseurl}}/materials/berti/index.html">materials</a>] </p>

  <p class="text-secondary color" style="text-align: justify;">14:30 - 14:45 - Serious Games: Artivisim and Ecology
  <br>
  Ana Mejón (Universidad Carlos III de Madrid)
  <br>
  [<a href="{{site.baseurl}}/keynote#mejon">abstract</a>; <a href="{{site.baseurl}}/materials/mejon/index.html">materials</a>] </p>

  <p class="text-secondary color" style="text-align: justify;">14:45 - 15:00 - Horror, Art & Gender: Politics and the Body
  <br>
  Vicente Ortega (Universidad Carlos III de Madrid)
  <br>
  [<a href="{{site.baseurl}}/keynote#ortega">abstract</a>; <a href="{{site.baseurl}}/materials/ortega/index.html">materials</a>] </p>
  

  <p class="text-secondary color" style="text-align: justify;"><strong>16:00 - 18:00 Visit to the Biennale-Arsenale</strong></p>

  <p class="text-secondary color" style="text-align: justify;"><strong>18:30 - 20:00 - Aula B, Ca’ Bernardo 🌍 -  Closing Keynote</strong>
  <br>
  Serge Noiret (European University Institute): The past as a common good: a digital, interdisciplinary, and participative approach </p>

  <p class="text-secondary color" style="text-align: justify;"><strong>20:00 - Farewell reception</strong></p>
</div>

<!-- not ready 

{% for p in site.pages %}
  {% if p.subcategory == "programme" %}
    {% include card.html %}
  {% endif %}
{% endfor %}


-->