---
layout: category
category: programme
title: Programme
---

<div class="show-sm">
  

  <a href="{{ site.baseurl }}/programme/index.html#day1">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 1</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day2">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 2</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day3">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 3</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day4">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 4</h5>
    </div>
  </div>
  </a>

  <a href="{{ site.baseurl }}/programme/index.html#day5">
  <div class="card card-link">
    <div class="text-center">
      <h5 class="text-bold">Day 5</h5>
    </div>
  </div>
  </a>


</div>


<div>
  <p class="text-secondary color" style="text-align: justify;"> 📺 📹 <a href="{{site.baseurl}}/videos"><u><strong>The links to the virtual rooms</strong></u></a></p>
  <!-- DAY 1-->
  <h4 id="day1">Day 1 - Monday, 11 July</h4>
  <h5>Topic: <em>Summer School Welcome</em></h5>
  <h6>🌍 Location: <em>Auditorium Santa Margherita</em> - 🕐 Time slot: <em>16:30-18:30</em></h6>
  <strong>Afternoon</strong>: strand activities
  <br>
  <br>
  <p class="text-secondary color" style="text-align: justify;"><strong>16:30-17:00</strong> - Welcome, <strong>introduction to Summer School daily activities</strong></p>
  <p class="text-secondary color" style="text-align: justify;"><strong>17:00-18:30</strong> - Opening Keynote, <strong>Chiara Zuanni (University of Graz)</strong>: <em>Digital Cultural Heritage and the Public Sphere</em></p>
  <p class="text-secondary color" style="text-align: justify;"><strong>18:30</strong> - <strong>Aperitivo</strong></p>

  <!-- DAY 2-->
  <h4 id="day2">Day 2 - Tuesday, 12 July</h4>
  <h5>A Global Approach to Digital Textual Scholarship</h5>
  <h6>🌍 Location: <em>Aula 19 - San Sebastiano</em> - 🕐 Time slot: <em>9:00-18:00</em></h6>
  <strong>Morning</strong>: strand activities
  <br><br>

  <p class="text-secondary color" style="text-align: justify;"><strong>9:00-9:30</strong> - Preludium, <strong>Introduction to Textual Heritage by Franz Fischer (VeDPH)</strong></p>
  <p class="text-secondary color" style="text-align: justify;"><strong>9:30-11:15</strong> - Session led by <strong>Benedetta Bessi (Ca’ Foscari), Daniele Fusi (University of Bamberg/Ca’ Foscari) and Alberto Campagnolo (Université Catholique de Louvain, Louvain-la-Neuve)</strong>: <em>The Sky is the Limit - A global approach to digital textual scholarship: The Coronelli’s Celestial Globe</em> [<a href="{{site.baseurl}}/keynote#bessi_fusi_campagnolo">read the abstract</a>; <a href="{{site.baseurl}}/materials/bessi_fusi_campagnolo/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>11:30-12:45</strong> - Session led by <strong>Session led by Franz Fischer (Ca’ Foscari), Paolo Monella (Sapienza University of Rome), Holger Hessler (Ca’ Foscari), Tiziana Mancinelli (Ca’ Foscari; Istituto Centrale per la Digitalizzazione del Patrimonio Culturale/Digital Library), Miriam Vita Errico (Ca’ Foscari) and Silvia Marsili (Ca’ Foscari)</strong>: <em>Leaving Venice - Editing a manuscript of Marco Polo’s travels</em>  [<a href="{{site.baseurl}}/keynote#fisher_monella_hessler_mancinelli_errico_marsili">read the abstract</a>; <a href="{{site.baseurl}}/materials/fisher_monella_hessler_mancinelli_errico_marsili/index.html">materials</a>]</p>

  <p class="text-secondary color" style="text-align: justify;"><strong>13:00-14:30</strong> - <strong>Lunch break</strong></p>

  <strong>Afternoon</strong>: strand activities
  <br>  
  <br>
  <p class="text-secondary color" style="text-align: justify;"><strong>14:30-16:00</strong> - High Noon at the Library (tbc), <strong>Visit of the Marciana Library</strong></p>
  <p class="text-secondary color" style="text-align: justify;"><strong>16:00-18:00</strong> - Session led by <strong>Federico Boschetti (ILC-CNR; Ca’ Foscari), Angelo Mario Del Grosso (ILC-CNR; Ca’ Foscari), Agnese Macchiarelli (Ca’ Foscari), Federico Tanozzi (Ca’ Foscari) and Jessica Puliero (Ca’ Foscari)</strong>: <em>The Remains of the Text - Natural Language Processing</em> [<a href="{{site.baseurl}}/keynote#boschetti_delgrosso_macchiarelli_tanozzi_puliero">read the abstract</a>; <a href="{{site.baseurl}}/materials/boschetti_delgrosso_macchiarelli_tanozzi_puliero/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>18:30-19:30</strong> in Auditorium Santa Margherita (tbc) 🌍 - Carte blanche for <strong>Peter Robinson (University of Saskatchewan)</strong>: <em>The Godfather</em></p>

  <!-- DAY 3-->
  <h4 id="day3">Day 3 - Wednesday, 13 July</h4>
  <h5>Endangered Cultural Heritage in Venice</h5>
  <h6>🌍 Meeting point: <em>St Mark’s Square</em> - 🕐 Time slot: <em>9:30-20:30</em></h6>
  <br>
  <strong>Morning</strong>: guided tour and activity led by <strong> Federico Bernardini (VeDPH/Ca’ Foscari), Elisa Corrò (VeDPH/Ca’ Foscari), Nevio Danelon (VeDPH/Ca’ Foscari), Eleonora Delpozzo (VeDPH/Ca’ Foscari) and Francesca Dolcetti (VeDPH/Ca’ Foscari)</strong>
  <br>
  <br>
  <p class="text-secondary color" style="text-align: justify;"><strong>9:45-10:30</strong> - <em>St Mark’s square</em> [<a href="{{site.baseurl}}/keynote#bernardini_corro_danelon_delpozzo_dolcetti_1">read the abstract</a>; <a href="{{site.baseurl}}/materials/bernardini_corro_danelon_delpozzo_dolcetti/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>10:30-12:30</strong> - <em>Arsenale</em> [<a href="{{site.baseurl}}/keynote#bernardini_corro_danelon_delpozzo_dolcetti_2">read the abstract</a>; <a href="{{site.baseurl}}/materials/bernardini_corro_danelon_delpozzo_dolcetti/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>12:30</strong> - <em>Vaporetto to Zattere</em></p>
  <p class="text-secondary color" style="text-align: justify;"><strong>13:00-14:00</strong> - <em>lunch at ‘Ae Oche’- Zattere </em></p>

  <strong>Afternoon</strong>: strand activities
  <br>
  <br>

  <p class="text-secondary color" style="text-align: justify;"><strong>14:00-15:30</strong> in Aula 16 - San Sebastiano 🌍 - Workshop led by <strong>Federico Bernardini (VeDPH/Ca’ Foscari), Nevio Danelon (VeDPH/Ca’ Foscari), and Eleonora Delpozzo (VeDPH/Ca’ Foscari)</strong>: <em>Digital Technologies - From image acquisition to point cloud and 3D models</em> [<a href="{{site.baseurl}}/keynote#bernardini_danelon_delpozzo">read the abstract</a>; <a href="{{site.baseurl}}/materials/bernardini_danelon_delpozzo/index.html">materials</a>] </p> 
  <p class="text-secondary color" style="text-align: justify;"><strong>15:45-18:00</strong> in Aule 13 and 19 - San Sebastiano (tbc) 🌍 - Workshop led by <strong>Elisa Corrò (VeDPH/Ca’ Foscari) and Francesca Dolcetti (VeDPH/Ca’ Foscari)</strong>: <em>Public engagement and cooperative learning</em> [<a href="{{site.baseurl}}/keynote#corro_dolcetti">read the abstract</a>; <a href="{{site.baseurl}}/materials/corro_dolcetti/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>18:30-20:30</strong> - Workshop conducted by <strong>the artist and activist Paolo Cirio</strong>: <em>Deprogramming Today’s Sociality</em></p>
  <p class="text-secondary color" style="text-align: justify;"><strong>20:30</strong> - <strong>Aperitivo</strong></p>


  <!-- DAY 4-->
  <h4 id="day4">Day 4 - Thursday, 14 July</h4>
  <h5>History on display and in the streets. Discovering the past through public and digital technologies</h5>
  <h6>🕐 Time slot: <em>9:30-20:30</em></h6>
  <strong>Morning</strong>: strand activities
  <br>
  <br>
  <p class="text-secondary color" style="text-align: justify;"><strong>9:30-13:00</strong> in Aula 2, Ca’ Dolfin 🌍 - Workshop led by <strong>Fabrizio Nevola (University of Exeter; Ca’ Foscari)</strong>: <em>Making the Renaissance Public: the example of Hidden Cities apps</em> [<a href="{{site.baseurl}}/keynote#nevola">read the abstract</a>; <a href="{{site.baseurl}}/materials/nevola/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>13:30-14:30</strong> - <strong>Lunch in Mestre</strong></p>

  <strong>Afternoon</strong>: 🌍 Location: <em>M9 Museum, Mestre</em> - 🕐 Time slot: <em>14:30-18:00</em></h5>
  <br>

  <p class="text-secondary color" style="text-align: justify;"><strong>14:30-16:00</strong> - Lecture by <strong>Francesco Frizzera (Museo Storico della Guerra, Rovereto)</strong>: <em>Museums and Public History. From collections to users-oriented Museums</em> [<a href="{{site.baseurl}}/keynote#frizzera">read the abstract</a>; <a href="{{site.baseurl}}/materials/frizzera/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>16:00-16:20</strong> - Presentation by <strong>Anna Clara Basilicò (VeDPH/Ca’ Foscari)</strong>: <em>Displaying historical violence. The case of Inquisition and torture museums</em> [<a href="{{site.baseurl}}/keynote#basilico">read the abstract</a>; <a href="{{site.baseurl}}/materials/basilico/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>16:30-18:00</strong> - Guided tour led by <strong>Stefano Dall’Aglio (VeDPH/Ca’ Foscari) and Livio Karrer (M9)</strong>: <em>Visit to M9 Museum</em> [<a href="{{site.baseurl}}/keynote#dallaglio_karrer">read the abstract</a>; <a href="{{site.baseurl}}/materials/dallaglio_karrer/index.html">materials</a>]</p>

  <!-- DAY 5-->
  <h4 id="day5">Day 5 - Friday, 15 July</h4>
  <h5>From Digital Museography to Contemporary Artistic Practice: Venice, the Biennale and Beyond</h5>
  <h6>🕐 Time slot: <em>9:00-20:00</em></h6>
  <strong>Morning</strong>: 🌍 Location: <em>Querini Stampalia (tbc)</em> - 🕐 Time slot: <em>9:00-11:00</em></h5>
  <br>
  <br>
  <p class="text-secondary color" style="text-align: justify;"><strong>9:00-9:45</strong> - Session chaired by <strong>Stefania De Vincentis (VeDPH/Ca’Foscari)</strong>: <em>A new wave of museology</em> [<a href="{{site.baseurl}}/keynote#devincentis">read the abstract and programme</a>; <a href="{{site.baseurl}}/materials/devincentis/index.html">materials</a>]</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>9:45-11:00</strong> - Session chaired by <strong>Barbara Tramelli (VeDPH/Ca’Foscari)</strong>: <em>Dive into Digital Art collection</em> [<a href="{{site.baseurl}}/keynote#tramelli">read the abstract and programme</a>; <a href="{{site.baseurl}}/materials/tramelli/index.html">materials</a>]</p>
  <!-- aggiungere il programma dettagliato di B.T.-->
  <p class="text-secondary color" style="text-align: justify;"><strong>11:00</strong> - <em>Coffee break</em> </p>
  <p class="text-secondary color" style="text-align: justify;"><strong>11:15</strong> - <em>Visit to Palazzo Grimani</em> </p>
  <p class="text-secondary color" style="text-align: justify;"><strong>14:00-16:00</strong> - <em>Lunch at Bar Arsenale</em> </p>


  
  <strong>Afternoon</strong>: 🌍 Location: <em>Venice Biennale of Art</em> - 🕐 Time slot: <em>14:00-16:00</em></h5>
  <br>
  <br>
  <p class="text-secondary color" style="text-align: justify;"><strong>14:00-16:00</strong> in Tese of Arsenale 🌍 - Session chaired by <strong>Carolina Fernández-Castrillo (Universidad Carlos III de Madrid/VeDPH)</strong>: <em>Media Artivisim and Public Engagement</em> [<a href="{{site.baseurl}}/keynote#castrillo">read the abstract and programme</a>; <a href="{{site.baseurl}}/materials/castrillo/index.html">materials</a>] </p>
  <p class="text-secondary color" style="text-align: justify;"><strong>16:00-18:00</strong> - <em>Visit to the Biennale-Arsenale</em> </p>
  <p class="text-secondary color" style="text-align: justify;"><strong>18:30-20:00</strong> in Auditorium Santa Margherita (tbc) 🌍 - <strong>Closing Keynote by Serge Noiret (European University Institute)</strong>: <em>The past as a common good: a digital, interdisciplinary, and participative approach</em> </p>
  <p class="text-secondary color" style="text-align: justify;"><strong>20:00</strong> - <em>Farewell reception</em>
</div>

<!-- not ready 

{% for p in site.pages %}
  {% if p.subcategory == "programme" %}
    {% include card.html %}
  {% endif %}
{% endfor %}


-->